<!DOCTYPE html>
<html>

<head>
  <title>Weather Today</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Weather Forecast</h1>
  <% var counter = 0; %>
  <% data.forEach(element => { %>
    <div class="weather">
      <div class="container">
        <h2>
          <%= element.location %>
        </h2>
      </div>
      <div class="container">
        <h3>
          <%= element.date.getDate()%> <%= element.date.toLocaleString('default', { month: 'long' }) %> <%= element.date.getFullYear() %>,
          <%= element.date.getHours()%>:<%= String(element.date.getMinutes()).padStart(2, "0");%> hrs
        </h3>
      </div>
      <div class="container">
        <img class="logo" src= "<%=element.logo %>" alt="weather icon">
      </div>  
      <div class="container">
        <p><%= element.weather %></p>
      </div>  
      <div class="container">
        <p>
          <%= element.temp %>°C
        </p>
      </div>  
    </div>
    <!-- <% counter++; %> -->
  <%}); %>
  <form action="/" method="get">
    <input id="button" type="submit" value="Back to Weather Now">
  </form>
</body>

</html>